<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio Bootstrap 4 Template">
    <meta name="author" content="kingstudio.ro">
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">
    <!-- Site Title -->
    <title>Uniq - Portfolio Template</title>
    <!-- Bootstrap 4 core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


      <div id="preloader">
          <div class="preloader">
              <span></span>
              <span></span>
          </div>
      </div>

      <div id="top"></div>

      <div id="main-content">

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: url('images/bg-img-small.jpg');">
            <div class="container">
                <a class="navbar-brand" href="<%= root_path %>" data-method="get" ><img src="images/sayna_logo.jpg" style="border-radius: 50%" alt=""></a>

                <button class="navbar-toggler collapsed menu-text" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                    <span class="sr-only">Sayna</span>
                </button><!-- / navbar-toggler -->

                <div class="collapse navbar-collapse" id="navbar-toggle">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item after-dropdown">
                            <a class="nav-link" href="<%= root_path %>" data-method="get">ACCEUIL</a>
                        </li>

                        <li class="nav-item dropdown">
                              <a class="nav-link" href="/" data-method="get" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROGRAMME</a>
                              <div class="dropdown-menu drop-to-right dropdown-inverse animated fadeIn fast" aria-labelledby="dropdown1">
                                  <a class="dropdown-item active" href="<%= simplon_path %>" data-method="get">SIMPLON</a>
                                  <a class="dropdown-item" href="<%= thp_path %>" dta-method="get">T.H.P</a>
                              </div><!-- / dropdown-menu -->
                        </li><!-- / dropdown -->
                        <li class="nav-item after-dropdown">
                            <a class="nav-link" href="<%= equipe_path %>" data-method="get">EQUIPE</a>
                        </li>

                        <li class="nav-item last">
                            <a class="nav-link" href="<%= contact_path %>"  data-method="get">CONTACT</a>
                        </li>

                    </ul><!-- / navbar-nav -->
                </div><!-- / navbar-collapse -->
            </div><!-- / container -->
        </nav><!-- / navbar -->

                <header class="bg-primary has-sticky-menu">
                    <div class="container">
                        <div class="header-content text-center">
                            <h2 class="text-white">TEAM</h2>
                            <p class="text-white mb-0">DREAM team</p>
                        </div><!-- / header-content -->
                    </div><!-- / container -->
                </header>

        <section id="team">
            <div class="container w70">
                <h3 class="section-title text-center">OUR TEAM</h3>
                <div class="spacer">&nbsp;</div>
                <p class="text-center">Aliquam risus nibh, tincidunt at enim vitae, tempor auctor augue. Integer egestas dui quis nulla vulputate, et egestas ipsum placerat. Nulla sit amet pulvinar nibh.</p>
                <div class="spacer-2x">&nbsp;</div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team1.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">JOHN DOE</h6>
                                <p class="mb-1 text-sm">PROJECT MANAGER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team2.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">NATALIE DOE</h6>
                                <p class="mb-1 text-sm">DESIGNER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team3.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">BRIAN DOE</h6>
                                <p class="mb-1 text-sm">DEVELOPER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team1.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">JOHN DOE</h6>
                                <p class="mb-1 text-sm">PROJECT MANAGER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team2.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">NATALIE DOE</h6>
                                <p class="mb-1 text-sm">DESIGNER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team3.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">BRIAN DOE</h6>
                                <p class="mb-1 text-sm">DEVELOPER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team1.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">JOHN DOE</h6>
                                <p class="mb-1 text-sm">PROJECT MANAGER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team2.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">NATALIE DOE</h6>
                                <p class="mb-1 text-sm">DESIGNER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team3.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">BRIAN DOE</h6>
                                <p class="mb-1 text-sm">DEVELOPER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team1.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">JOHN DOE</h6>
                                <p class="mb-1 text-sm">PROJECT MANAGER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team2.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">NATALIE DOE</h6>
                                <p class="mb-1 text-sm">DESIGNER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team3.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">BRIAN DOE</h6>
                                <p class="mb-1 text-sm">DEVELOPER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
        </section><!-- / team -->


    </div><!-- / main-content -->



<!-- Core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<!-- / Core JavaScript -->

<!-- preloader -->
<script src="js/preloader.js"></script>
<!-- / preloader -->

<!-- Smooth Scrolling -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/smooth-scroll.js"></script>
<!-- / Smooth Scrolling -->

<!-- facts counter -->
<script src="js/jquery.countTo.js"></script>
 <script>
      $('.timer').countTo({
        refreshInterval: 60,
        formatter: function (value, options) {
          return value.toFixed(options.decimals);
        },
      });
</script>
<!-- / facts counter -->

<!-- Owl Carousel -->
<script src="js/owl.carousel.min.js"></script>
<script>
$('#clients-carousel').owlCarousel({
    loop:true,
    margin:100,
    dots: false,
    autoplay:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
})
</script>

<script>
$('#testimonials-carousel').owlCarousel({
    loop:true,
    margin:8,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})
</script>
<!-- / Owl Carousel -->

<!-- Hide Nav -->
<script src="js/hide-nav.js"></script>
<!-- / Hide Nav -->

</body>

</html>
