<!DOCTYPE html>
<html>
  <head>
    <title>Sayna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p> <%= notice %> </p>
    <p> <%= alert %> </p>
    <%= yield %>
    <div id="reveal-footer" class="has-footer-widgets">
        <div class="reveal-content">
            <div class="footer-widgets bg-inverse dark">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-3 widget">
                            <img src="images/sayna_logo.jpg" style="border-radius: 50%" alt="logo" class="footer-logo">
                            <p>Ascensseur digital des jeunes a madagascar</p>
                            <a href="#" class="btn-link mt-2"><b>A propos</b></a>
                        </div><!-- / column-->

                        <div class="col-lg-3 widget">
                            <h3 class="widget-title">CONTACT US</h3>
                            <ul class="footer-list">
                                <li class="mb-3"><a href="tel:01234567890"><i class="fas fa-phone mr-2"></i> 034 34 567 89</a></li>
                                <li class="mb-3"><a href="mailto:info@youriste.com"><i class="fas fa-envelope mr-2"></i> sayna.io</a></li>
                                <li class="mb-3"><a href="#x"><i class="fab fa-twitter mr-2"></i> sayna.staff@gmail.com.io </a></li>
                                <li class="mb-3"><i class="fas fa-map-marked-alt mr-2"></i> faravohitra Tananarive</li>
                            </ul>
                        </div><!-- / column-->
                    </div><!-- / row -->
                </div><!-- / container -->
            </div><!-- / footer-widgets -->

            <footer class="bg-darkgrey dark">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 footer-left-area">
                            <p>© 2018 Sayna</p>
                        </div>
                        <div class="col-lg-4 social-icons footer-right-area">
                            <a href="https://www.facebook.com/HelloSayna/" class="btn-social text-whit"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/razafimahefam?lang=en" class="btn-social"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/matina_razafimahefa/?hl=en" class="btn-social"><i class="fab fa-instagram"></i></a>
                        </div><!-- / social-icons -->
                    </div><!-- / row -->
                </div><!-- / container -->
            </footer>
        </div><!-- / reveal-content -->
    </div><!-- / reveal-footer -->

  </body>
</html>
