<!DOCTYPE html>
<html>
  <head>
    <title>Sayna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio Bootstrap 4 Template">
    <meta name="author" content="kingstudio.ro">
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">
    <!-- Site Title -->
    <title>Sayna-Mada</title>
    <!-- Bootstrap 4 core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
    $(document).ready(function(){
        if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".img").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".img").hasClass("hover")) {
                    $(this).closest(".img").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".img").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
    });
    </script>
    <!-- / Portfolio Script -->


    <!-- LightBox -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script>
    // This will create a single gallery from all elements that have class "lightbox"
    $('.lightbox').each(function() {
        $(this).magnificPopup({
            delegate: 'a.image-lightbox', // the selector for gallery item
            type: 'image',
            gallery: {
              enabled:true
            }
        });
    });
    </script>
    <!-- / LightBox -->

    <!-- facts counter -->
    <script src="js/jquery.countTo.js"></script>
     <script>
          $('.timer').countTo({
            refreshInterval: 60,
            formatter: function (value, options) {
              return value.toFixed(options.decimals);
            },
          });
    </script>
    <!-- / facts counter -->

    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <script>
    $('#clients-carousel').owlCarousel({
        loop:true,
        margin:100,
        dots: false,
        autoplay:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:4
            }
        }
    })
    </script>
    <!-- / Owl Carousel -->


  </head>

  <body>
    
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="top"></div>

    <div id="main-content">

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: url('images/bg-img-small.jpg');">
            <div class="container">
                <a class="navbar-brand" href="<%= root_path %>" data-method="get" ><img src="images/sayna_logo.jpg" style="border-radius: 50%" alt=""></a>

                <button class="navbar-toggler collapsed menu-text" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                    <span class="sr-only">Sayna</span>
                </button><!-- / navbar-toggler -->

                <div class="collapse navbar-collapse" id="navbar-toggle">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item after-dropdown">
                            <a class="nav-link" href="<%= root_path %>" data-method="get">ACCEUIL</a>
                        </li>

                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#x" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROGRAMME</a>
                              <div class="dropdown-menu drop-to-right dropdown-inverse animated fadeIn fast" aria-labelledby="dropdown1">
                                  <a class="dropdown-item" href="<%= simplon_path %>" data-method="get">SIMPLON</a>
                                  <a class="dropdown-item" href="<%= thp_path %>" data-method="get">T.H.P</a>
                              </div><!-- / dropdown-menu -->
                        </li><!-- / dropdown -->
                        <li class="nav-item after-dropdown">
                            <a class="nav-link" href="<%= equipe_path %>" data-method="get">EQUIPE</a>
                        </li>

                        <li class="nav-item last">
                            <a class="nav-link" href="<%= contact_path %>"  data-method="get">CONTACT</a>
                        </li>

                    </ul><!-- / navbar-nav -->
                </div><!-- / navbar-collapse -->
            </div><!-- / container -->
        </nav><!-- / navbar -->
        <% if flash[:notice] %>
            <div z-index=1 class="notice"> <%= flash[:notice] %> </div>
        <% end %>

        <% if flash[:alert] %>    
            <div z-index=1 class="alert"> <%= flash[:alert] %> </div>
        <% end %>

        <%= yield %>


        <div class="spacer">&nbsp;</div>

        <a href="#top" class="scroll-to-top dark-scroll is-hidden smooth-scroll" data-nav-status="toggle"><i class="md-icon dp24">expand_less</i></a>


    </div><!-- / main-content -->

    <div id="reveal-footer" class="has-footer-widgets">
        <div class="reveal-content">
            <div class="footer-widgets bg-inverse dark">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-3 widget">
                            <img src="images/sayna_logo.jpg" style="border-radius: 50%" alt="logo" class="footer-logo">
                            <p>Ascensseur digital des jeunes a madagascar</p>
                            <a href="#" class="btn-link mt-2"><b>A propos</b></a>
                        </div><!-- / column-->

                        <div class="col-lg-3 widget">
                            <h3 class="widget-title">CONTACT US</h3>
                            <ul class="footer-list">
                                <li class="mb-3"><a href="tel:0349226891"><i class="fas fa-phone mr-2"></i> 034 92 268 91</a></li>
                                <li class="mb-3"><a href="mailto:sayna.staff@gmail.com"><i class="fas fa-envelope mr-2"></i> sayna.staff@gmail.com</a></li>
                                <li class="mb-3"><i class="fas fa-map-marked-alt mr-2"></i> faravohitra Tananarive</li>
                            </ul>
                        </div><!-- / column-->
                    </div><!-- / row -->
                </div><!-- / container -->
            </div><!-- / footer-widgets -->

            <footer class="bg-darkgrey dark">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 footer-left-area">
                            <p>© 2018 Sayna</p>
                        </div>
                        <div class="col-lg-4 social-icons footer-right-area">
                            <a href="https://www.facebook.com/HelloSayna/" class="btn-social text-whit"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/razafimahefam?lang=en" class="btn-social"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/matina_razafimahefa/?hl=en" class="btn-social"><i class="fab fa-instagram"></i></a>
                        </div><!-- / social-icons -->
                    </div><!-- / row -->
                </div><!-- / container -->
            </footer>
        </div><!-- / reveal-content -->
    </div><!-- / reveal-footer -->


      
    <!-- Core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- / Core JavaScript -->

    <!-- preloader -->
    <script src="js/preloader.js"></script>
    <!-- / preloader -->

    <!-- Smooth Scrolling -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <!-- / Smooth Scrolling -->

    <!-- Portfolio Script -->
    <script src="js/jquery.shuffle.min.js"></script>
    <script src="js/portfolio.js"></script>
    <script>
    $(document).ready(function(){
        if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".img").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".img").hasClass("hover")) {
                    $(this).closest(".img").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".img").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
    });
    </script>
    <!-- / Portfolio Script -->

    <!-- LightBox -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script>
    // This will create a single gallery from all elements that have class "lightbox"
    $('.lightbox').each(function() {
        $(this).magnificPopup({
            delegate: 'a.image-lightbox', // the selector for gallery item
            type: 'image',
            gallery: {
              enabled:true
            }
        });
    });
    </script>
    <!-- / LightBox -->

    <!-- facts counter -->
    <script src="js/jquery.countTo.js"></script>
     <script>
          $('.timer').countTo({
            refreshInterval: 60,
            formatter: function (value, options) {
              return value.toFixed(options.decimals);
            },
          });
    </script>
    <!-- / facts counter -->

    <!-- Contact Form -->
    <script src="js/contact-form-validator.min.js"></script>
    <script src="js/contact-form.js"></script>
    <!-- / Contact Form -->

    <!-- Hide Nav -->
    <script src="js/hide-nav.js"></script>
    <!-- / Hide Nav -->


  </body>
</html>
